extends base

block content
    h1#pageTitle=pageTitle 
    if errorMessage
        span=errorMessage
    form(method="POST" enctype="multipart/form-data")
        label(for="avatar") Avatar
        if loggedInUser.avatarUrl
            img#profileImg(src="/"+loggedInUser.avatarUrl, width="100",height="100")
        else
            span(style="color:red") Image not found
        input(type="file", id="avatar" ,accept="img/*",name="avatar")
        span Name :
        input(placeholder="Name" name="name" type="text" required value=loggedInUser.name)
        span Email :
        input(placeholder="Email" name="email" type="email" required value=loggedInUser.email)  
        span UserName :
        input(placeholder="Username" name="username" type="text" required value=loggedInUser.username)  
        span Location :
        input(placeholder="Location" name="location" type="text" required value=loggedInUser.location)  
        input(type="submit" value="Update Profile")
        if !loggedInUser.socialOnly
            div 
                a(href="/users/change-password") Change Password &rarr;